<!doctype html>
<html>
<head>
	<title>Shopping list manager - {{.Name}}</title>
</head>
<body>

{{if not .Found}}
	<h1>Missing barcode</h1>
{{else}}
	<h1>{{.Name}}</h1>
{{end}}

<form action="" method="post">
<table>
	<tr>
		<th>Name</th>
		<td><input type="text" name="name" value="{{.Name}}" placeholder="Teddy bear" /></td>
		<td></td>
	</tr>
	<tr>
		<th>Barcode</th>
		<td>{{.Barcode}}</td>
		<td><a href="https://google.com/search?q={{.Barcode}}" target="_blank">Websearch</a></td>
	</tr>
	<tr>
		<th>Link</th>
		<td><input type="text" name="link" value="{{.Link}}" placeholder="https://example.com/product" /></td>
		<td>
{{if .Link}}
			<a href="{{.Link}}" target="_blank">Open</a>
{{end}}
		</td>
	</tr>
	<tr>
		<th>Product type</th>
		<td><input type="text" name="product_type" value="{{.ProductType}}" placeholder="Rye Bread Slices" /></td>
		<td></td>
	</tr>
	<tr>
		<th>Product category</th>
		<td>
			<select name="product_category">
			  {{range $.ProductCategories}}
			    <option value="{{.Label}}"
			      {{if eq .Label $.ProductCategory}}selected{{end}}>
			      {{.Emoji}} {{.Label}}
			    </option>
			  {{end}}
			</select>
		</td>
		<td></td>
	</tr>
	<tr>
		<th>Notes</th>
		<td><input type="text" name="notes" value="{{.Notes}}" placeholder="" /></td>
		<td></td>
	</tr>
</table>

<input type="submit" value="Save / update" />
</form>

</body>
</html>
